# Local Terraform directories
.terraform/

# Terraform state and lockfiles
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc
