# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore crash logs
crash.log

# Ignore the .terraform directory (contains modules, providers, binaries, etc.)
.terraform/

# Ignore override files (user-specific settings)
*.tfvars
*.tfvars.json

# Ignore sensitive variable definition files (you might want to commit *.tfvars.sample instead)
secret.tfvars
*.auto.tfvars

# Ignore CLI configuration file
.terraformrc
terraform.rc

# Ignore plan output
*.tfplan
